/* @import url(https://fonts.bunny.net/css?family=zen-dots:400); */
/* @import url(https://fonts.bunny.net/css?family=bangers:400); */

/* css variables for background-color */

@font-face {
  font-family: 'Druk Wide Bold';
  src: url('../fonts/Druk-Wide-Bold.ttf') format('tiff');
       /* url('https://fonts.bunny.net/zen-dots/zen-dots.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

/* force scrollbar */
html {
  overflow-y: scroll;
}

body {
  background-color: #219EBC
  /* background-color: rgba(255,206,50,.9) */
}

.navbar-toggler {
  border-color: #FB8500;
  border-width: 0.3rem;
 }
 .navbar-toggler-icon {
  background-image: url("../assets/three-dots.svg");
 color: #FB8500;
 }
 

#langing-header{
  color: #FFB703;
}

#landing-lead-text{
  /* color: whitesmoke; */
  initial-letter: 2;
}

.offcanvas-body{
  /* background: hsl(211.11deg 20.52% 21.56%); */
  /* background-color: rgb(105 210 231); */
  background-color: #219EBC !important;
}

.offcanvas-header{
  background: #219EBC
}

.btn-primary{
  background-color: #FB8500!important;
  border-color: rgb(212 226 229)!important;
}

.btn-primary:hover,
.btn-primary:focus{
  background-color:  hsl(32, 100%, 49%)!important;
  border-color: rgb(255, 255, 255) !important;
  /* border-width: 0.15rem!important; */
  box-shadow: 0 0 0 0.1rem rgb(255, 255, 255);
}

.btn-check:active + .btn, .btn-check:checked + .btn, .btn.active, .btn.show, .btn:active {
  /* background-color: var(--bs-btn-active-bg); */
  /* border-color: var(--bs-btn-active-border-color); */
  background-color:  hsl(32, 100%, 49%)!important;
  border-color: rgb(255, 255, 255) !important;
}

#formAlbumName{
  /* background-color: #8ECAE6; */
  background-color: #219EBC;
  border-width: 0.2rem!important;
  border-color: rgb(255, 255, 255) !important;
}

#hint,
#resultsMessage{
  color: whitesmoke!important;
}

.btn-success{
  background-color: rgb(44 55 66) !important;
  border-color: rgb(212 226 229) !important;
}

.nav-link{
  color: #fff!important;
  cursor: pointer;
}
.deleteAlbum{
  cursor: pointer;
}
.nav-link:hover i, .deleteAlbum:hover i {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}


main {
  margin-top: 0.2rem;
}

/* ---- grid ---- */

.grid {
  background-color: #219EBC;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}
@media (max-width: 500px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

.grid-item {
  float: left;
  position: relative; /* for positioning of delete icon */
  vertical-align: top; /* for positioning of delete icon */
}

.grid-item img {
  display: block;
  max-width: 100%;

  /* the frame around each image */
  border: 0.2rem solid #fff;
}

.grid-item a {
  text-decoration: none;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
.set-cover-image {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(1.2);
}
.set-cover-image:hover {
  transform: scale(1.2);
}

main {
  min-height: 95vh;
}

.custom-card-image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.custom-card-image-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-border-color {
  /* border-color: #dee2e6; */
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}

.hidden {
  display: none;
}

.danger-font {
  color: rgb(167, 60, 60);
}

.spacer {
  margin-top: 80px;
}

.separator-navlinks-button {
  margin-bottom: 0;
  margin: 1.2rem 0 0.2rem 0;
}
.separator-navlinks {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.strong {
  font-weight: 600;
  font-style: italic;
}

.fa-solid {
  color: white;
 }
 .fa-trash-alt{
  color: #FB8500FA;
 }
 

@keyframes deleteAlbumAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/* LandingPage Card */
.landingPageCard {
  position: relative;
}

/* Landing page, count of images per album, same color as cloudinary text color */
.overlayCountTextColor {
  color: #FFB703;
  text-shadow: 0 0 3px #000;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  padding: 5px;
}

/* start landing page arrow animation */
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 822;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* end landing page arrow animation */

 

.form-check-input:checked{
  background-color: #FB8500
}

.nav-item:hover{
  /* border-width: 0.15rem !important; */
  box-shadow: 0 0 0 0.1rem rgb(255, 255, 255);
}

.active-listitem{
  /* background-color: #FB8500 !important; */
  /* border-color: #FB8500 !important; */
  /* box-shadow: 0 0 0 0.1rem rgba(251, 134, 0, 0.836); */
  box-shadow: 0 0 0 0.1rem rgb(255, 255, 255);
}

.active-listitem-albumName{
  font-weight: bold;
}

.rounded-pill{
  color: #023047;
}

.modal-content{
  background-color: #219EBC;
  border-color: #fff;
  color: #fff;
}

.text-body-secondary{
  color: #FFB703;
}

.balance-text{
  text-align: center!important;
  text-wrap: balance!important;
  line-height: 1.5!important;
}