<!-- Modal Confirm Delete Album action in Navbar Albums -->
<div class="modal fade" id="delete-album-modal" tabindex="-1" aria-labelledby="delete-album-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- header and body text inserted by confirmDeleteAlbumModal.js -->
        <h4 class="modal-title mx-auto text-capitalize" id="insert-modal-album-name"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-auto">
        <p class="danger-font" id="insert-modal-body-text"></p>
      </div>
      <div class="modal-footer mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modal-cancel">Cancel</button>
        <button type="button" class="btn btn-danger" id="delete-album-button">Permanently Delete</button>
      </div>
    </div>
  </div>
</div>
