<p>Add photos to your album here.</p>
<div><button id="upload_widget" class="submit btn btn-primary w-100">Upload Photos</button></div>
<div><img id="uploaded" /></div>
<div id="dataDiv" data-album-name="<%= dataToSend.albumName %>"></div>
<!-- below is monitored for "success" which triggers page refresh -->
<div id="dataDivResults" data-upload-result=""></div>
<pre class="data" id="uwdata"></pre>
