<!-- Welcome message -->
<section class="welcome-message">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="./assets/logos/j20_full_v3.svg" alt="" width="500" height="118">
        <!-- <h1 class="display-5 fw-bold">Centered hero</h1> -->
        <div class="col-lg-6 mx-auto">
          <p class="lead text-white mb-4"> <span class="animate-underline-text">Simple and powerfull image organisation</span>  for your memories. Create albums and upload your images. Beautiful and blazing fast viewing. Images are optimized for best viewing experience per your device.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" id="open-navbar-toggler" class="btn btn-primary btn-lg px-4 gap-3">Get started</button>
          </div>
        </div>
      </div>
</section>
<section class="feature-cards">
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Custom cards</h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('./assets/card-create-album.svg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Create albums</h3>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
  <!-- Features Cards -->
<!-- new is above -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../assets/logos/j20_full_v3.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 id="langing-header" class="display-5 fw-bold lh-1 mb-3">Create your first album</h1>
        <p id="landing-lead-text" class="lead"> <span class="animate-underline-text">Use the menu in top left </span>to create your first album and upload photos. In general all actions will be found in this menu.</p>
      </div>
    </div>
  </div>

  <script type="module">
    import { annotate } from 'https://unpkg.com/rough-notation?module';
    const underlineText = document.querySelector('.animate-underline-text');
    const annotationUnderlineText = annotate(underlineText, { type: 'underline' });

    //Text props
    annotationUnderlineText.color = '#fff';
    annotationUnderlineText.strokeWidth = 3;
    annotationUnderlineText.animationDuration = 1000;
    
    //timeout wait before showing the menu annotation
    setTimeout(() => {
      annotationUnderlineText.show();
    }, 1500);

  </script>