<!-- Welcome message -->
<section class="welcome-message">
  <div class="overflow-hidden" style="max-height:40vh">
    <div class="container text-center mt-4">
      <img src="./assets/logos/j20_full-svg.svg" class="img-fluid my-4" alt="Example image" loading="lazy" width="500" height="118">
    </div>
  </div>
  <div class="col-lg-6 mx-auto px-2">
    <p class="lead text-white my-4 balance-text">
      <span class="animate-underline-text">Simple and powerfull image organisation</span> for your memories. Intuitively create albums, upload photos, set personal album cover image and more...
      Beautiful and blazing fast viewing. Images are optimized for best viewing experience per your device.
    </p>
    <div class="d-grid gap-2 mt-4 d-sm-flex justify-content-sm-center">
      <button type="button" id="open-navbar-toggler" class="btn btn-primary btn-lg px-4 gap-3">Get started</button>
    </div>
  </div>
</section>

<!-- Features Cards -->
<!-- new is above -->


<script type="module">
  import { annotate } from 'https://unpkg.com/rough-notation?module';
  const underlineText = document.querySelector('.animate-underline-text');
  const annotationUnderlineText = annotate(underlineText, { type: 'underline' });

  //Text props
  annotationUnderlineText.color = '#fff';
  annotationUnderlineText.strokeWidth = 3;
  annotationUnderlineText.animationDuration = 1000;

  //timeout wait before showing the menu annotation
  setTimeout(() => {
    annotationUnderlineText.show();
  }, 1500);
</script>
